section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#video-player {
    width: 640px;
    height: 360px;
}

.control-bar {
    height: 80px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.space {
    width: 25px;
}

.button3 {
    width: 50px;
    height: 50px;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 500%;
    background-color: #2EB872;
}

.on-record {
    background-color: #FF5D6E;
}
